<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/static/cadastro-usuario.css">
</head>

<body>

    <form action="/cadastro-usuario" method="POST">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h1>Cadastro de Usuário</h1><br>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ form_data.nome if form_data else ''}}">

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ form_data.cpf if form_data else ''}}">

        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade" value="{{ form_data.idade if form_data else ''}}">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ form_data.email if form_data else ''}}">

        <label for="senha">Senha:</label>
        <div class="password-field">
            <input type="password" id="senha" name="senha" required/>
            <span id="toggleSenha" class="toggle-password" title="Mostrar senha">
            <svg xmlns="http://www.w3.org/2000/svg&quot; width="20" height="20"
                    viewBox="0 0 24 24" fill="none"
                    stroke="#374151" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                </svg>
                </span>
        </div>

        <button type="submit">Cadastrar</button>
        <a href="{{ url_for('home') }}">Voltar a página home</a>
    </form>
    <script>
        const senhaInput = document.getElementById('senha');
        const toggle = document.getElementById('toggleSenha');
        const eyeIcon = document.createElement('svg');
        toggle.addEventListener('click', function(){
            const visivel = senhaInput.getAttribute('type') === 'text';
            senhaInput.type = visivel ? 'password' : 'text';
            eyeIcon.setAttribute('stroke', visivel ? '#374151' : '#2563eb');
        });
    </script>

</body>
</html>
