<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo</h1>
        <p class="subtitle">Escolha uma opção para continuar:</p>
        
        <div class="button-group">
           <!-- <form action="/login" method="POST" style="display: inline-flex;">
                <button type="submit" class="login-button">Login</button>
            </form>
            
            <form action="/cadastrar-usuario" method="POST" style="display: inline-flex;">
                <button type="submit" class="cadastrar-button">Cadastrar</button>
            </form>-->

            <!-- LOGIN - GET para mostrar formulário -->
            <a href="{{ url_for('mostrar_login') }}" class="login-button">Login</a>
            
            <!-- CADASTRO - GET para mostrar formulário -->
            <a href="{{ url_for('mostrar_cadastro') }}" class="cadastrar-button">Cadastrar</a>

        </div>
    </div>
</body>
</html>
