<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="container">
        <form action="">
        <h1>Bem-vindo</h1>
        
        
        <div class="button">
            <p class="subtitle">Faça login para continuar: </p>
            <button><a href="{{ url_for('mostrar_login') }}" class="login-button">Login</a></button><br><br>
            <p class="subtitle">Cadastrar usuário: </p>
            <button><a href="{{ url_for('mostrar_cadastro') }}" class="cadastrar-button">Cadastrar</a></button>
        </form>
        </div>
    </div>
</body>
</html>
